@import 'styles/variables.module';

.workCard {
  min-width: 310px;
  min-height: 350px;
  width: 80%;
  position: relative;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: $darkgrey;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.1);

  img {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition: opacity 0.3s, transform 0.3s;
    -moz-transition: opacity 0.3s, transform 0.3s;
    -ms-transition: opacity 0.3s, transform 0.3s;
    -o-transition: opacity 0.3s, transform 0.3s;
  }

  &:hover img{
    opacity: 0.3;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  h3, p, a {
    color: #fff;
    position: relative;
    text-align: center;
    opacity: 0;
  }

  & h3+p {
    margin: 0 0 1.5rem;

  }

  h3 {
    font-size: 1.3rem;
  }

  &:hover h3, &:hover h3+p, &:hover h3+p+a {
    animation: appear 0.3s forwards ease-out;
    -webkit-animation: appear 0.3s forwards ease-out;
  }

  &:hover .workDetails {
    animation: appear 0.3s 0.2s forwards ease-out;
    -webkit-animation: appear 0.3s 0.2s forwards ease-out;
  }

  &.mobileCard {
    h3, p, a, .workDetails {
      animation: appear 0.2s forwards;
    }

    & img{
      opacity: 0.3;
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
}

.btn {
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid #fff;
  color: transparent;
  position: relative;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;

  &:after {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
  }

  &:hover {
    color: rgba(0,0,0,0.8);
  }

  &:hover:after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    z-index: -1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(36px);
    -webkit-transform: translateY(36px);
    -moz-transform: translateY(36px);
    -ms-transform: translateY(36px);
    -o-transform: translateY(36px);
} 
  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  } 
}

@media screen and (max-width: 975px) {
  .workCard {
    img {
      object-position: center!important;
    }
  }
}

@media screen and (max-width: 600px) {
  .workCard {
    width: 100%;
  }
}
