@import 'styles/variables.module';

.workWrapper {
  width: 100vw;
  height: 100vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1rem;
  overflow-y: scroll;

  div:nth-child(2n) {
    margin-left: 2rem;
  }

  div:nth-child(2n+1) {
    margin-right: 2rem;
  }

  scrollbar-width: thin;
  scrollbar-color: $darkgrey $grey;


  &::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
    background-color: $darkgrey;
  }

  &::-webkit-scrollbar-thumb {
    background: $grey;
  }
}

.leftArrow {
  position: absolute;
  left: 0rem;
  top: 50%;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}