.personalInfosWrapper {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  position: relative;

  .topArrow {
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: translateX(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) rotate(-90deg);
    -moz-transform: translateX(-50%) rotate(-90deg);
    -ms-transform: translateX(-50%) rotate(-90deg);
    -o-transform: translateX(-50%) rotate(-90deg);
  }
}