@import 'styles/variables.module';

.contactWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  svg {
    width: 28px;
    fill: #fff;
    transition: fill 0.3s;

    &:hover {
      fill: $primary;
    }
  }
}