$darkgrey: hsl(40, 4%, 14%);
$grey: hsl(40, 4%, 34%);
$violet: #6F73D2;
$light-violet: hsl(238, 52%, 73%);
$red: #F22B29;
$blue: #3F88C5;
$primary: #43C59E;

// Resume colors
$title-color: hsl(210, 78%, 38%);
$text-color: hsl(204, 38%, 39%);
$orange: hsl(12, 97%, 57%);
$background: hsl(0, 0%, 97%);
$yellow: hsl(42, 75%, 56%)